cython
spaw
Pillow
matplotlib
opencv-python
pydub
moviepy
ffmpeg-python
spacy
textblob
praw
tinydb
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
